**HOMEWORK 1**

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd. read_csv("data.csv")
data

       Unnamed: 0                                               path     label
0               0  Surprise/1bd930d6a1c717c11be33db74823f661cb53f...  Surprise
1               1       Surprise/cropped_emotions.100096~12fffff.png  Surprise
2               2  Surprise/0df0e470e33093f5b72a8197fa209d684032c...  Surprise
3               3       Surprise/cropped_emotions.260779~12fffff.png  Surprise
4               4       Surprise/cropped_emotions.263616~12fffff.png  Surprise
...           ...                                                ...       ...
15448       15448            Angry/cropped_emotions.571245~angry.png     Angry
15449       15449            Angry/cropped_emotions.232257~angry.png     Angry
15450       15450            Angry/cropped_emotions.232276~angry.png     Angry
15451       15451  Angry/0aa9ec997e4faa4499e0aa3efac5ab97db109423...     Angry
15452       15452  Angry/7fdcf428267020e7b1b063745c0834ae6ccb9125...     Angry

[15453 rows x 3 columns]

In [4]:
data.columns

Index(['Unnamed: 0', 'path', 'label'], dtype='object')

In [5]:
data.describe()

        Unnamed: 0
count  15453.00000
mean    7726.00000
std     4461.04119
min        0.00000
25%     3863.00000
50%     7726.00000
75%    11589.00000
max    15452.00000

In [6]:
data.head()

   Unnamed: 0                                               path     label
0           0  Surprise/1bd930d6a1c717c11be33db74823f661cb53f...  Surprise
1           1       Surprise/cropped_emotions.100096~12fffff.png  Surprise
2           2  Surprise/0df0e470e33093f5b72a8197fa209d684032c...  Surprise
3           3       Surprise/cropped_emotions.260779~12fffff.png  Surprise
4           4       Surprise/cropped_emotions.263616~12fffff.png  Surprise

In [7]:
emotion = pd.read_csv("emotions.csv")
emotion

    set_id  gender  age country
0        0  FEMALE   36      RU
1        1  FEMALE   37      RU
2        2  FEMALE   36      RU
3        3    MALE   29      RU
4        4  FEMALE   43      RU
5        5    MALE   49      RU
6        6  FEMALE   38      RU
7        7    MALE   19      PH
8        8  FEMALE   29      RU
9        9  FEMALE   32      RU
10      10    MALE   33      IN
11      11  FEMALE   15      RU
12      12  FEMALE   34      RU
13      13  FEMALE   43      RU
14      14  FEMALE   20      RU
15      15  FEMALE   18      RU
16      16  FEMALE   37      RU
17      17  FEMALE   24      RU
18      18    MALE   19      RU

In [8]:
emotion.columns

Index(['set_id', 'gender', 'age', 'country'], dtype='object')

In [9]:
emotion.describe()

          set_id        age
count  19.000000  19.000000
mean    9.000000  31.105263
std     5.627314   9.683289
min     0.000000  15.000000
25%     4.500000  22.000000
50%     9.000000  33.000000
75%    13.500000  37.000000
max    18.000000  49.000000

In [10]:
emotion.head()

   set_id  gender  age country
0       0  FEMALE   36      RU
1       1  FEMALE   37      RU
2       2  FEMALE   36      RU
3       3    MALE   29      RU
4       4  FEMALE   43      RU

In [11]:
hobby = pd.read_csv("Hobby_Data.csv")
hobby

,Olympiad_Participation,Scholarship,School,Fav_sub,Projects,Grasp_pow,Time_sprt,Medals,Career_sprt,Act_sprt,Fant_arts,Won_arts,Time_art,Predicted Hobby
0,Yes,Yes,Yes,Mathematics,Yes,5,1,Yes,No,No,No,Maybe,3,Academics
1,Yes,Yes,Yes,Mathematics,Yes,3,2,No,No,No,No,No,1,Academics
2,Yes,Yes,Yes,Science,Yes,5,1,Yes,No,No,No,No,1,Academics
3,Yes,Yes,Yes,Mathematics,Yes,5,1,Yes,No,No,No,Maybe,3,Academics
4,Yes,Yes,Yes,Science,Yes,5,3,No,No,No,No,No,2,Academics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,No,No,Yes,Science,No,3,1,Yes,Yes,Yes,No,No,2,Sports
1597,Yes,No,Yes,Any language,Yes,4,3,No,Yes,No,No,Yes,4,Sports
1598,Yes,No,Yes,Any language,No,3,3,No,Yes,No,No,Maybe,2,Sports
1599,Yes,Yes,Yes,Any language,No,4,3,Yes,Yes,No,Yes,Maybe,2,Sports
1600,Yes,No,No,Mathematics,Yes,3,2,No,Yes,No,Yes,No,1,Sports

In [12]:
hobby.columns

Index(['Olympiad_Participation', 'Scholarship', 'School', 'Fav_sub',
       'Projects', 'Grasp_pow', 'Time_sprt', 'Medals', 'Career_sprt',
       'Act_sprt', 'Fant_arts', 'Won_arts', 'Time_art', 'Predicted Hobby'],
      dtype='object')

In [13]:
hobby.describe()

         Grasp_pow    Time_sprt     Time_art
count  1601.000000  1601.000000  1601.000000
mean      3.480325     3.033729     2.234229
std       1.006737     1.347725     1.266186
min       1.000000     1.000000     1.000000
25%       3.000000     2.000000     1.000000
50%       3.000000     3.000000     2.000000
75%       4.000000     4.000000     3.000000
max       6.000000     6.000000     6.000000

In [14]:
hobby.head()

,Olympiad_Participation,Scholarship,School,Fav_sub,Projects,Grasp_pow,Time_sprt,Medals,Career_sprt,Act_sprt,Fant_arts,Won_arts,Time_art,Predicted Hobby
0,Yes,Yes,Yes,Mathematics,Yes,5,1,Yes,No,No,No,Maybe,3,Academics
1,Yes,Yes,Yes,Mathematics,Yes,3,2,No,No,No,No,No,1,Academics
2,Yes,Yes,Yes,Science,Yes,5,1,Yes,No,No,No,No,1,Academics
3,Yes,Yes,Yes,Mathematics,Yes,5,1,Yes,No,No,No,Maybe,3,Academics
4,Yes,Yes,Yes,Science,Yes,5,3,No,No,No,No,No,2,Academics

In [15]:
recipes = pd.read_csv("recipes.csv")
recipes

,Unnamed: 0,recipe_name,prep_time,cook_time,total_time,servings,yield,ingredients,directions,rating,url,cuisine_path,nutrition,timing,img_src
0,0,Apple-Cranberry Crostada,NaN,NaN,NaN,8,6 to 8 - servings,"3 tablespoons butter, 2 pounds Granny Smith ap...",Heat butter in a large skillet over medium-hig...,4.4,https://www.allrecipes.com/recipe/76931/apple-...,/Desserts/Fruit Desserts/Apple Dessert Recipes/,"Total Fat 18g 23%, Saturated Fat 7g 34%, Chole...","Servings: 8, Yield: 6 to 8 - servings",https://www.allrecipes.com/thmb/Tf1wH73bfH6Oql...
1,1,Apple Pie by Grandma Ople,30 mins,1 hrs,1 hrs 30 mins,8,1 9-inch pie,"8 small Granny Smith apples, or as needed, Â½ c...","Peel and core apples, then thinly slice. Set a...",4.8,https://www.allrecipes.com/recipe/12682/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 19g 24%, Saturated Fat 9g 46%, Chole...","Prep Time: 30 mins, Cook Time: 1 hrs, Total Ti...",https://www.allrecipes.com/thmb/1I95oiTGz6aEpu...
2,2,Sarah's Homemade Applesauce,10 mins,15 mins,25 mins,4,NaN,"4 apples - peeled, cored and chopped, Â¾ cup w...","Combine apples, water, sugar, and cinnamon in ...",4.8,https://www.allrecipes.com/recipe/51301/sarahs...,/Side Dish/Applesauce Recipes/,"Total Fat 0g 0%, Sodium 3mg 0%, Total Carbohyd...","Prep Time: 10 mins, Cook Time: 15 mins, Total ...",https://www.allrecipes.com/thmb/VY5d0tZHB8xz6y...
3,3,Apple Crisp,30 mins,45 mins,1 hrs 15 mins,12,1 9x13-inch pan,"10 cups all-purpose apples, peeled, cored and ...",Preheat the oven to 350 degrees F (175 degrees...,4.7,https://www.allrecipes.com/recipe/12409/apple-...,/Desserts/Crisps and Crumbles Recipes/Apple Cr...,"Total Fat 8g 11%, Saturated Fat 5g 25%, Choles...","Prep Time: 30 mins, Cook Time: 45 mins, Total ...",https://www.allrecipes.com/thmb/uAzhPOh86PfR-N...
4,4,Apple Pie Filling,20 mins,20 mins,2 hrs 40 mins,40,5 9-inch pies,"18 cups thinly sliced apples, 3 tablespoons le...",Toss apples with lemon juice in a large bowl a...,4.7,https://www.allrecipes.com/recipe/12681/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 0g 0%, Sodium 61mg 3%, Total Carbohy...","Prep Time: 20 mins, Cook Time: 20 mins, Additi...",https://www.allrecipes.com/thmb/c0bbYaS1V_mTt_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,1085,Date-Nut Balls,15 mins,10 mins,30 mins,48,4 dozen balls,"14 tablespoons butter, 1 cup pitted chopped da...",Melt butter in a saucepan over medium heat; co...,3.8,https://www.allrecipes.com/recipe/240653/date-...,/Desserts/Cookies/Fruit Cookie Recipes/Date/,"Total Fat 5g 6%, Saturated Fat 2g 12%, Cholest...","Prep Time: 15 mins, Cook Time: 10 mins, Additi...",https://www.allrecipes.com/thmb/LXm_15zLymhZ7c...
1086,1086,Jamaica Cake,NaN,NaN,NaN,14,1 - 13x9 inch pan,"2 cups white sugar, 1 Â½ cups vegetable oil, 1 ...","Mix together sugar, vegetable oil, pecans, flo...",4.6,https://www.allrecipes.com/recipe/7509/jamaica...,/Desserts/Fruit Desserts/Banana Dessert Recipes/,"Total Fat 33g 43%, Saturated Fat 4g 21%, Chole...","Servings: 14, Yield: 1 - 13x9 inch pan",https://www.allrecipes.com/thmb/tI7g5xY5-qPV5v...
1087,1087,Best Hot Sauce,10 mins,20 mins,30 mins,100,2 cups,"10 fresh hot chile peppers, stems removed, 1 ...","Place peppers, onion, dates, basil, parsley, t...",4.9,https://www.allrecipes.com/recipe/242153/best-...,/Side Dish/Sauces and Condiments/,"Total Fat 1g 1%, Saturated Fat 0g 1%, Sodium 2...","Prep Time: 10 mins, Cook Time: 20 mins, Total ...",https://www.allrecipes.com/thmb/80wUYzFvbycfxx...
1088,1088,Moist Date Nut Bread,15 mins,50 mins,1 hrs 35 mins,12,1 9x5-inch loaf,"2 Â½ cups chopped dates, Â¼ cup butter, 1 cup bo...",Preheat the oven to 350 degrees F (175 degrees...,4.5,https://www.allrecipes.com/recipe/51446/moist-...,/Breakfast and Brunch/Breakfast Bread Recipes/,"Total Fat 10g 13%, Saturated Fat 3g 16%, Chole...","Prep Time: 15 mins, Cook Time: 50 mins, Additi...",https://www.allrecipes.com/thmb/bYsnompJZ6UAF9...
1089,1089,Chef John's Chocolate Energy Bars,15 mins,NaN,3 hrs,12,12 bars,"2 cups pitted Medjool dates, roughly chopped, ...","Place cashews, almonds, coconut, dates, cocoa,...",4.8,https://www.allrecipes.com/recipe/254452/chef-...,/Appetizers and Snacks/Snacks/Granola Bar Reci...,"Total Fat 22g 28%, Saturated Fat 7g 36%, Sodiu...","Prep Time: 15 mins, Additional Time: 2 hrs 45 ...",https://www.allrecipes.com/thmb/IOoj42MMo8YNKW...

In [16]:
recipes.columns

Index(['Unnamed: 0', 'recipe_name', 'prep_time', 'cook_time', 'total_time',
       'servings', 'yield', 'ingredients', 'directions', 'rating', 'url',
       'cuisine_path', 'nutrition', 'timing', 'img_src'],
      dtype='object')

In [17]:
recipes.describe()

        Unnamed: 0     servings       rating
count  1090.000000  1090.000000  1090.000000
mean    544.500000    13.755046     4.533853
std     314.800201    19.886076     0.349814
min       0.000000     1.000000     2.000000
25%     272.250000     6.000000     4.400000
50%     544.500000     8.000000     4.600000
75%     816.750000    12.000000     4.700000
max    1089.000000   240.000000     5.000000

In [18]:
recipes.head()

,Unnamed: 0,recipe_name,prep_time,cook_time,total_time,servings,yield,ingredients,directions,rating,url,cuisine_path,nutrition,timing,img_src
0,0,Apple-Cranberry Crostada,NaN,NaN,NaN,8,6 to 8 - servings,"3 tablespoons butter, 2 pounds Granny Smith ap...",Heat butter in a large skillet over medium-hig...,4.4,https://www.allrecipes.com/recipe/76931/apple-...,/Desserts/Fruit Desserts/Apple Dessert Recipes/,"Total Fat 18g 23%, Saturated Fat 7g 34%, Chole...","Servings: 8, Yield: 6 to 8 - servings",https://www.allrecipes.com/thmb/Tf1wH73bfH6Oql...
1,1,Apple Pie by Grandma Ople,30 mins,1 hrs,1 hrs 30 mins,8,1 9-inch pie,"8 small Granny Smith apples, or as needed, Â½ c...","Peel and core apples, then thinly slice. Set a...",4.8,https://www.allrecipes.com/recipe/12682/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 19g 24%, Saturated Fat 9g 46%, Chole...","Prep Time: 30 mins, Cook Time: 1 hrs, Total Ti...",https://www.allrecipes.com/thmb/1I95oiTGz6aEpu...
2,2,Sarah's Homemade Applesauce,10 mins,15 mins,25 mins,4,NaN,"4 apples - peeled, cored and chopped, Â¾ cup w...","Combine apples, water, sugar, and cinnamon in ...",4.8,https://www.allrecipes.com/recipe/51301/sarahs...,/Side Dish/Applesauce Recipes/,"Total Fat 0g 0%, Sodium 3mg 0%, Total Carbohyd...","Prep Time: 10 mins, Cook Time: 15 mins, Total ...",https://www.allrecipes.com/thmb/VY5d0tZHB8xz6y...
3,3,Apple Crisp,30 mins,45 mins,1 hrs 15 mins,12,1 9x13-inch pan,"10 cups all-purpose apples, peeled, cored and ...",Preheat the oven to 350 degrees F (175 degrees...,4.7,https://www.allrecipes.com/recipe/12409/apple-...,/Desserts/Crisps and Crumbles Recipes/Apple Cr...,"Total Fat 8g 11%, Saturated Fat 5g 25%, Choles...","Prep Time: 30 mins, Cook Time: 45 mins, Total ...",https://www.allrecipes.com/thmb/uAzhPOh86PfR-N...
4,4,Apple Pie Filling,20 mins,20 mins,2 hrs 40 mins,40,5 9-inch pies,"18 cups thinly sliced apples, 3 tablespoons le...",Toss apples with lemon juice in a large bowl a...,4.7,https://www.allrecipes.com/recipe/12681/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 0g 0%, Sodium 61mg 3%, Total Carbohy...","Prep Time: 20 mins, Cook Time: 20 mins, Additi...",https://www.allrecipes.com/thmb/c0bbYaS1V_mTt_...

In [19]:
speech = pd.read_csv("speech_emotions.csv")
speech

,Unnamed: 0,set_id,text,gender,age,country
0,0,00026029e0--64991b6eef1fe70609d48edc,The delicious aroma of freshly baked bread fil...,MALE,29,ZA
1,1,00026029e0--64991b72e0daf97163c09c66,I enjoy taking long walks in the peaceful coun...,FEMALE,42,NG
2,2,00026029e0--64991b7fd94c0d5726dec353,The suspenseful novel kept me on the edge of m...,FEMALE,29,VN
3,3,00026029e0--64991b907f82d9763944eba2,They celebrated their anniversary with a roman...,FEMALE,20,PK
4,4,00026029e0--64991bf2ffab6240f9f2418b,The diligent student earned top marks for her ...,MALE,30,PK
5,5,00026029e0--64991bfc63d8b20f56d0e1fb,The rhythmic beat of the drums echoed through ...,MALE,18,IN
6,6,00026029e0--64991c0dd94c0d5726df032a,The curious child eagerly explored the vast mu...,MALE,21,MX
7,7,00026029e0--64991c3e63d8b20f56d0eeba,The innovative design of the new smartphone im...,FEMALE,20,PK
8,8,00026029e0--64991c9e7f82d97639452402,The innovative design of the new smartphone im...,MALE,34,NG
9,9,00026029e0--64992031e0daf97163c20229,The breathtaking view from the mountaintop too...,FEMALE,31,KE
10,10,00026029e0--64992044d94c0d5726dfffc7,His charismatic personality made him a natural...,FEMALE,24,KE
11,11,00026029e0--6499205bea5ed167d5bc8a8c,The delicious aroma of freshly baked bread fil...,FEMALE,22,KE
12,12,00026029e0--64992099ffab6240f9f3521f,The vibrant colors of the sunset painted the s...,MALE,19,MY
13,13,00026029e0--649920f4ffab6240f9f3677a,The heartfelt apology melted away the tension ...,MALE,21,KE
14,14,00026029e0--64992143ffab6240f9f3787a,She wore a stunning gown that dazzled everyone...,FEMALE,30,KE
15,15,00026029e0--64992161e0daf97163c2535a,They celebrated their anniversary with a roman...,MALE,20,PK
16,16,00026029e0--6499219aea5ed167d5bccf6f,The curious child eagerly explored the vast mu...,FEMALE,22,KE
17,17,00026029e0--64992202ea5ed167d5bce5d3,The starry night sky filled their hearts with ...,FEMALE,31,KE
18,18,00026029e0--6499226eef1fe70609d66276,The athlete's dedication and hard work led to ...,MALE,20,PK
19,19,00026029e0--6499261299d64c4c5d32c8e2,The talented musician captivated the audience ...,FEMALE,22,NG

In [20]:
speech.columns

Index(['Unnamed: 0', 'set_id', 'text', 'gender', 'age', 'country'], dtype='object')

In [21]:
speech.describe()

       Unnamed: 0       age
count    20.00000  20.00000
mean      9.50000  25.25000
std       5.91608   6.35672
min       0.00000  18.00000
25%       4.75000  20.00000
50%       9.50000  22.00000
75%      14.25000  30.00000
max      19.00000  42.00000

In [22]:
speech.head()

,Unnamed: 0,set_id,text,gender,age,country
0,0,00026029e0--64991b6eef1fe70609d48edc,The delicious aroma of freshly baked bread fil...,MALE,29,ZA
1,1,00026029e0--64991b72e0daf97163c09c66,I enjoy taking long walks in the peaceful coun...,FEMALE,42,NG
2,2,00026029e0--64991b7fd94c0d5726dec353,The suspenseful novel kept me on the edge of m...,FEMALE,29,VN
3,3,00026029e0--64991b907f82d9763944eba2,They celebrated their anniversary with a roman...,FEMALE,20,PK
4,4,00026029e0--64991bf2ffab6240f9f2418b,The diligent student earned top marks for her ...,MALE,30,PK

In [23]:
test = pd.read_csv("test.csv")
test

                                                   text  label
0     im feeling rather rotten so im not very ambiti...      0
1             im updating my blog because i feel shitty      0
2     i never make her separate from me because i do...      0
3     i left with my bouquet of red and yellow tulip...      1
4       i was feeling a little vain when i did this one      0
...                                                 ...    ...
1995  i just keep feeling like someone is being unki...      3
1996  im feeling a little cranky negative after this...      3
1997  i feel that i am useful to my people and that ...      1
1998  im feeling more comfortable with derby i feel ...      1
1999  i feel all weird when i have to meet w people ...      4

[2000 rows x 2 columns]

In [24]:
test.columns

Index(['text', 'label'], dtype='object')

In [25]:
test.describe()

            label
count  2000.00000
mean      1.53200
std       1.47447
min       0.00000
25%       0.00000
50%       1.00000
75%       3.00000
max       5.00000

In [26]:
test.head()

                                                text  label
0  im feeling rather rotten so im not very ambiti...      0
1          im updating my blog because i feel shitty      0
2  i never make her separate from me because i do...      0
3  i left with my bouquet of red and yellow tulip...      1
4    i was feeling a little vain when i did this one      0

In [27]:
training = pd.read_csv("training.csv")
training

                                                    text  label
0                                i didnt feel humiliated      0
1      i can go from feeling so hopeless to so damned...      0
2       im grabbing a minute to post i feel greedy wrong      3
3      i am ever feeling nostalgic about the fireplac...      2
4                                   i am feeling grouchy      3
...                                                  ...    ...
15995  i just had a very brief time in the beanbag an...      0
15996  i am now turning and i feel pathetic that i am...      0
15997                     i feel strong and good overall      1
15998  i feel like this was such a rude comment and i...      3
15999  i know a lot but i feel so stupid because i ca...      0

[16000 rows x 2 columns]

In [28]:
training.columns

Index(['text', 'label'], dtype='object')

In [29]:
training.describe()

              label
count  16000.000000
mean       1.565937
std        1.501430
min        0.000000
25%        0.000000
50%        1.000000
75%        3.000000
max        5.000000

In [30]:
training.head()

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

In [31]:
validation = pd.read_csv("validation.csv")
validation

                                                   text  label
0     im feeling quite sad and sorry for myself but ...      0
1     i feel like i am still looking at a blank canv...      0
2                        i feel like a faithful servant      2
3                     i am just feeling cranky and blue      3
4     i can have for a treat or if i am feeling festive      1
...                                                 ...    ...
1995  im having ssa examination tomorrow in the morn...      0
1996  i constantly worry about their fight against n...      1
1997  i feel its important to share this info for th...      1
1998  i truly feel that if you are passionate enough...      1
1999  i feel like i just wanna buy any cute make up ...      1

[2000 rows x 2 columns]

In [32]:
validation.columns

Index(['text', 'label'], dtype='object')

In [33]:
validation.describe()

             label
count  2000.000000
mean      1.569000
std       1.480991
min       0.000000
25%       0.000000
50%       1.000000
75%       3.000000
max       5.000000

In [34]:
validation.head()

                                                text  label
0  im feeling quite sad and sorry for myself but ...      0
1  i feel like i am still looking at a blank canv...      0
2                     i feel like a faithful servant      2
3                  i am just feeling cranky and blue      3
4  i can have for a treat or if i am feeling festive      1

**HOMEWORK 2**

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15453 entries, 0 to 15452
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  15453 non-null  int64
 1   path        15453 non-null  object
 2   label       15453 non-null  object
dtypes: int64(1), object(2)
memory usage: 362.3+ KB

In [37]:
data.isnull().sum()

Unnamed: 0    0
path          0
label         0
dtype: int64

In [38]:
emotion.isnull().sum()

set_id     0
gender     0
age        0
country    0
dtype: int64

In [39]:
hobby.isnull().sum()

Olympiad_Participation    0
Scholarship               0
School                    0
Fav_sub                   0
Projects                  0
Grasp_pow                 0
Time_sprt                 0
Medals                    0
Career_sprt               0
Act_sprt                  0
Fant_arts                 0
Won_arts                  0
Time_art                  0
Predicted Hobby           0
dtype: int64

In [40]:
speech.isnull().sum()

Unnamed: 0    0
set_id        0
text          0
gender        0
age           0
country       0
dtype: int64

In [41]:
test.isnull().sum()

text     0
label    0
dtype: int64

In [42]:
training.isnull().sum()

text     0
label    0
dtype: int64

In [43]:
validation.isnull().sum()

text     0
label    0
dtype: int64

In [44]:
recipes.isnull().sum()

Unnamed: 0        0
recipe_name       0
prep_time        51
cook_time       308
total_time       45
servings          0
yield           211
ingredients       0
directions        0
rating            0
url               0
cuisine_path      0
nutrition         0
timing            0
img_src           0
dtype: int64

In [45]:
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090 entries, 0 to 1089
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1090 non-null   int64
 1   recipe_name   1090 non-null   object
 2   prep_time     1039 non-null   object
 3   cook_time     782 non-null    object
 4   total_time    1045 non-null   object
 5   servings      1090 non-null   int64
 6   yield         879 non-null    object
 7   ingredients   1090 non-null   object
 8   directions    1090 non-null   object
 9   rating        1090 non-null   float64
 10  url           1090 non-null   object
 11  cuisine_path  1090 non-null   object
 12  nutrition     1090 non-null   object
 13  timing        1090 non-null   object
 14  img_src       1090 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 127.9+ KB

In [46]:
recipes.dropna(subset=['prep_time'])

,Unnamed: 0,recipe_name,prep_time,cook_time,total_time,servings,yield,ingredients,directions,rating,url,cuisine_path,nutrition,timing,img_src
1,1,Apple Pie by Grandma Ople,30 mins,1 hrs,1 hrs 30 mins,8,1 9-inch pie,"8 small Granny Smith apples, or as needed, Â½ c...","Peel and core apples, then thinly slice. Set a...",4.8,https://www.allrecipes.com/recipe/12682/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 19g 24%, Saturated Fat 9g 46%, Chole...","Prep Time: 30 mins, Cook Time: 1 hrs, Total Ti...",https://www.allrecipes.com/thmb/1I95oiTGz6aEpu...
2,2,Sarah's Homemade Applesauce,10 mins,15 mins,25 mins,4,NaN,"4 apples - peeled, cored and chopped, Â¾ cup w...","Combine apples, water, sugar, and cinnamon in ...",4.8,https://www.allrecipes.com/recipe/51301/sarahs...,/Side Dish/Applesauce Recipes/,"Total Fat 0g 0%, Sodium 3mg 0%, Total Carbohyd...","Prep Time: 10 mins, Cook Time: 15 mins, Total ...",https://www.allrecipes.com/thmb/VY5d0tZHB8xz6y...
3,3,Apple Crisp,30 mins,45 mins,1 hrs 15 mins,12,1 9x13-inch pan,"10 cups all-purpose apples, peeled, cored and ...",Preheat the oven to 350 degrees F (175 degrees...,4.7,https://www.allrecipes.com/recipe/12409/apple-...,/Desserts/Crisps and Crumbles Recipes/Apple Cr...,"Total Fat 8g 11%, Saturated Fat 5g 25%, Choles...","Prep Time: 30 mins, Cook Time: 45 mins, Total ...",https://www.allrecipes.com/thmb/uAzhPOh86PfR-N...
4,4,Apple Pie Filling,20 mins,20 mins,2 hrs 40 mins,40,5 9-inch pies,"18 cups thinly sliced apples, 3 tablespoons le...",Toss apples with lemon juice in a large bowl a...,4.7,https://www.allrecipes.com/recipe/12681/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 0g 0%, Sodium 61mg 3%, Total Carbohy...","Prep Time: 20 mins, Cook Time: 20 mins, Additi...",https://www.allrecipes.com/thmb/c0bbYaS1V_mTt_...
5,5,Easy Apple Crisp with Oat Topping,20 mins,40 mins,1 hrs,4,NaN,"6 apples - peeled, cored, and sliced, 2 table...",Preheat the oven to 350 degrees F (175 degrees...,4.7,https://www.allrecipes.com/recipe/229088/apple...,/Desserts/Crisps and Crumbles Recipes/Apple Cr...,"Total Fat 25g 32%, Saturated Fat 15g 74%, Chol...","Prep Time: 20 mins, Cook Time: 40 mins, Total ...",https://www.allrecipes.com/thmb/1tKFVcDXwp8Y_z...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,1084,Paleo Almond Date Cookies,25 mins,15 mins,50 mins,24,2 dozen,"2 Â½ cups blanched almond flour, 1 cup pitted a...",Preheat oven to 350 degrees F (175 degrees C)....,4.6,https://www.allrecipes.com/recipe/246422/paleo...,/Desserts/Nut Dessert Recipes/Almond Dessert R...,"Total Fat 13g 17%, Saturated Fat 5g 24%, Chole...","Prep Time: 25 mins, Cook Time: 15 mins, Additi...",https://www.allrecipes.com/thmb/6ASjAVDl6LPVmU...
1085,1085,Date-Nut Balls,15 mins,10 mins,30 mins,48,4 dozen balls,"14 tablespoons butter, 1 cup pitted chopped da...",Melt butter in a saucepan over medium heat; co...,3.8,https://www.allrecipes.com/recipe/240653/date-...,/Desserts/Cookies/Fruit Cookie Recipes/Date/,"Total Fat 5g 6%, Saturated Fat 2g 12%, Cholest...","Prep Time: 15 mins, Cook Time: 10 mins, Additi...",https://www.allrecipes.com/thmb/LXm_15zLymhZ7c...
1087,1087,Best Hot Sauce,10 mins,20 mins,30 mins,100,2 cups,"10 fresh hot chile peppers, stems removed, 1 ...","Place peppers, onion, dates, basil, parsley, t...",4.9,https://www.allrecipes.com/recipe/242153/best-...,/Side Dish/Sauces and Condiments/,"Total Fat 1g 1%, Saturated Fat 0g 1%, Sodium 2...","Prep Time: 10 mins, Cook Time: 20 mins, Total ...",https://www.allrecipes.com/thmb/80wUYzFvbycfxx...
1088,1088,Moist Date Nut Bread,15 mins,50 mins,1 hrs 35 mins,12,1 9x5-inch loaf,"2 Â½ cups chopped dates, Â¼ cup butter, 1 cup bo...",Preheat the oven to 350 degrees F (175 degrees...,4.5,https://www.allrecipes.com/recipe/51446/moist-...,/Breakfast and Brunch/Breakfast Bread Recipes/,"Total Fat 10g 13%, Saturated Fat 3g 16%, Chole...","Prep Time: 15 mins, Cook Time: 50 mins, Additi...",https://www.allrecipes.com/thmb/bYsnompJZ6UAF9...
1089,1089,Chef John's Chocolate Energy Bars,15 mins,NaN,3 hrs,12,12 bars,"2 cups pitted Medjool dates, roughly chopped, ...","Place cashews, almonds, coconut, dates, cocoa,...",4.8,https://www.allrecipes.com/recipe/254452/chef-...,/Appetizers and Snacks/Snacks/Granola Bar Reci...,"Total Fat 22g 28%, Saturated Fat 7g 36%, Sodiu...","Prep Time: 15 mins, Additional Time: 2 hrs 45 ...",https://www.allrecipes.com/thmb/IOoj42MMo8YNKW...

In [47]:
recipes.dropna(subset=['cook_time'])

,Unnamed: 0,recipe_name,prep_time,cook_time,total_time,servings,yield,ingredients,directions,rating,url,cuisine_path,nutrition,timing,img_src
1,1,Apple Pie by Grandma Ople,30 mins,1 hrs,1 hrs 30 mins,8,1 9-inch pie,"8 small Granny Smith apples, or as needed, Â½ c...","Peel and core apples, then thinly slice. Set a...",4.8,https://www.allrecipes.com/recipe/12682/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 19g 24%, Saturated Fat 9g 46%, Chole...","Prep Time: 30 mins, Cook Time: 1 hrs, Total Ti...",https://www.allrecipes.com/thmb/1I95oiTGz6aEpu...
2,2,Sarah's Homemade Applesauce,10 mins,15 mins,25 mins,4,NaN,"4 apples - peeled, cored and chopped, Â¾ cup w...","Combine apples, water, sugar, and cinnamon in ...",4.8,https://www.allrecipes.com/recipe/51301/sarahs...,/Side Dish/Applesauce Recipes/,"Total Fat 0g 0%, Sodium 3mg 0%, Total Carbohyd...","Prep Time: 10 mins, Cook Time: 15 mins, Total ...",https://www.allrecipes.com/thmb/VY5d0tZHB8xz6y...
3,3,Apple Crisp,30 mins,45 mins,1 hrs 15 mins,12,1 9x13-inch pan,"10 cups all-purpose apples, peeled, cored and ...",Preheat the oven to 350 degrees F (175 degrees...,4.7,https://www.allrecipes.com/recipe/12409/apple-...,/Desserts/Crisps and Crumbles Recipes/Apple Cr...,"Total Fat 8g 11%, Saturated Fat 5g 25%, Choles...","Prep Time: 30 mins, Cook Time: 45 mins, Total ...",https://www.allrecipes.com/thmb/uAzhPOh86PfR-N...
4,4,Apple Pie Filling,20 mins,20 mins,2 hrs 40 mins,40,5 9-inch pies,"18 cups thinly sliced apples, 3 tablespoons le...",Toss apples with lemon juice in a large bowl a...,4.7,https://www.allrecipes.com/recipe/12681/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 0g 0%, Sodium 61mg 3%, Total Carbohy...","Prep Time: 20 mins, Cook Time: 20 mins, Additi...",https://www.allrecipes.com/thmb/c0bbYaS1V_mTt_...
5,5,Easy Apple Crisp with Oat Topping,20 mins,40 mins,1 hrs,4,NaN,"6 apples - peeled, cored, and sliced, 2 table...",Preheat the oven to 350 degrees F (175 degrees...,4.7,https://www.allrecipes.com/recipe/229088/apple...,/Desserts/Crisps and Crumbles Recipes/Apple Cr...,"Total Fat 25g 32%, Saturated Fat 15g 74%, Chol...","Prep Time: 20 mins, Cook Time: 40 mins, Total ...",https://www.allrecipes.com/thmb/1tKFVcDXwp8Y_z...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,1083,Reshteh Polo (Persian Noodle Rice),35 mins,1 hrs 10 mins,3 hrs 35 mins,10,10 servings,"1 cup basmati rice, 3 Â½ tablespoons kosher sal...",Place rice in a medium bowl and cover with tep...,5.0,https://www.allrecipes.com/recipe/279194/resht...,/Side Dish/Rice Side Dish Recipes/,"Total Fat 12g 15%, Saturated Fat 4g 22%, Chole...","Prep Time: 35 mins, Cook Time: 1 hrs 10 mins, ...",https://www.allrecipes.com/thmb/2Tqz-HYg7jNg5_...
1084,1084,Paleo Almond Date Cookies,25 mins,15 mins,50 mins,24,2 dozen,"2 Â½ cups blanched almond flour, 1 cup pitted a...",Preheat oven to 350 degrees F (175 degrees C)....,4.6,https://www.allrecipes.com/recipe/246422/paleo...,/Desserts/Nut Dessert Recipes/Almond Dessert R...,"Total Fat 13g 17%, Saturated Fat 5g 24%, Chole...","Prep Time: 25 mins, Cook Time: 15 mins, Additi...",https://www.allrecipes.com/thmb/6ASjAVDl6LPVmU...
1085,1085,Date-Nut Balls,15 mins,10 mins,30 mins,48,4 dozen balls,"14 tablespoons butter, 1 cup pitted chopped da...",Melt butter in a saucepan over medium heat; co...,3.8,https://www.allrecipes.com/recipe/240653/date-...,/Desserts/Cookies/Fruit Cookie Recipes/Date/,"Total Fat 5g 6%, Saturated Fat 2g 12%, Cholest...","Prep Time: 15 mins, Cook Time: 10 mins, Additi...",https://www.allrecipes.com/thmb/LXm_15zLymhZ7c...
1087,1087,Best Hot Sauce,10 mins,20 mins,30 mins,100,2 cups,"10 fresh hot chile peppers, stems removed, 1 ...","Place peppers, onion, dates, basil, parsley, t...",4.9,https://www.allrecipes.com/recipe/242153/best-...,/Side Dish/Sauces and Condiments/,"Total Fat 1g 1%, Saturated Fat 0g 1%, Sodium 2...","Prep Time: 10 mins, Cook Time: 20 mins, Total ...",https://www.allrecipes.com/thmb/80wUYzFvbycfxx...
1088,1088,Moist Date Nut Bread,15 mins,50 mins,1 hrs 35 mins,12,1 9x5-inch loaf,"2 Â½ cups chopped dates, Â¼ cup butter, 1 cup bo...",Preheat the oven to 350 degrees F (175 degrees...,4.5,https://www.allrecipes.com/recipe/51446/moist-...,/Breakfast and Brunch/Breakfast Bread Recipes/,"Total Fat 10g 13%, Saturated Fat 3g 16%, Chole...","Prep Time: 15 mins, Cook Time: 50 mins, Additi...",https://www.allrecipes.com/thmb/bYsnompJZ6UAF9...

In [48]:
recipes.dropna(subset=['yield'])

,Unnamed: 0,recipe_name,prep_time,cook_time,total_time,servings,yield,ingredients,directions,rating,url,cuisine_path,nutrition,timing,img_src
0,0,Apple-Cranberry Crostada,NaN,NaN,NaN,8,6 to 8 - servings,"3 tablespoons butter, 2 pounds Granny Smith ap...",Heat butter in a large skillet over medium-hig...,4.4,https://www.allrecipes.com/recipe/76931/apple-...,/Desserts/Fruit Desserts/Apple Dessert Recipes/,"Total Fat 18g 23%, Saturated Fat 7g 34%, Chole...","Servings: 8, Yield: 6 to 8 - servings",https://www.allrecipes.com/thmb/Tf1wH73bfH6Oql...
1,1,Apple Pie by Grandma Ople,30 mins,1 hrs,1 hrs 30 mins,8,1 9-inch pie,"8 small Granny Smith apples, or as needed, Â½ c...","Peel and core apples, then thinly slice. Set a...",4.8,https://www.allrecipes.com/recipe/12682/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 19g 24%, Saturated Fat 9g 46%, Chole...","Prep Time: 30 mins, Cook Time: 1 hrs, Total Ti...",https://www.allrecipes.com/thmb/1I95oiTGz6aEpu...
3,3,Apple Crisp,30 mins,45 mins,1 hrs 15 mins,12,1 9x13-inch pan,"10 cups all-purpose apples, peeled, cored and ...",Preheat the oven to 350 degrees F (175 degrees...,4.7,https://www.allrecipes.com/recipe/12409/apple-...,/Desserts/Crisps and Crumbles Recipes/Apple Cr...,"Total Fat 8g 11%, Saturated Fat 5g 25%, Choles...","Prep Time: 30 mins, Cook Time: 45 mins, Total ...",https://www.allrecipes.com/thmb/uAzhPOh86PfR-N...
4,4,Apple Pie Filling,20 mins,20 mins,2 hrs 40 mins,40,5 9-inch pies,"18 cups thinly sliced apples, 3 tablespoons le...",Toss apples with lemon juice in a large bowl a...,4.7,https://www.allrecipes.com/recipe/12681/apple-...,/Desserts/Pies/Apple Pie Recipes/,"Total Fat 0g 0%, Sodium 61mg 3%, Total Carbohy...","Prep Time: 20 mins, Cook Time: 20 mins, Additi...",https://www.allrecipes.com/thmb/c0bbYaS1V_mTt_...
7,7,Apple-Cranberry Crisp,25 mins,40 mins,1 hrs 5 mins,8,1 8-inch crisp,"2 pounds Granny Smith apples - peeled, cored a...",Preheat the oven to 375 degrees F (190 degrees...,4.6,https://www.allrecipes.com/recipe/41893/apple-...,/Desserts/Crisps and Crumbles Recipes/,"Total Fat 12g 15%, Saturated Fat 4g 22%, Chole...","Prep Time: 25 mins, Cook Time: 40 mins, Total ...",https://www.allrecipes.com/thmb/MjDDFmBWiEx9f1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,1085,Date-Nut Balls,15 mins,10 mins,30 mins,48,4 dozen balls,"14 tablespoons butter, 1 cup pitted chopped da...",Melt butter in a saucepan over medium heat; co...,3.8,https://www.allrecipes.com/recipe/240653/date-...,/Desserts/Cookies/Fruit Cookie Recipes/Date/,"Total Fat 5g 6%, Saturated Fat 2g 12%, Cholest...","Prep Time: 15 mins, Cook Time: 10 mins, Additi...",https://www.allrecipes.com/thmb/LXm_15zLymhZ7c...
1086,1086,Jamaica Cake,NaN,NaN,NaN,14,1 - 13x9 inch pan,"2 cups white sugar, 1 Â½ cups vegetable oil, 1 ...","Mix together sugar, vegetable oil, pecans, flo...",4.6,https://www.allrecipes.com/recipe/7509/jamaica...,/Desserts/Fruit Desserts/Banana Dessert Recipes/,"Total Fat 33g 43%, Saturated Fat 4g 21%, Chole...","Servings: 14, Yield: 1 - 13x9 inch pan",https://www.allrecipes.com/thmb/tI7g5xY5-qPV5v...
1087,1087,Best Hot Sauce,10 mins,20 mins,30 mins,100,2 cups,"10 fresh hot chile peppers, stems removed, 1 ...","Place peppers, onion, dates, basil, parsley, t...",4.9,https://www.allrecipes.com/recipe/242153/best-...,/Side Dish/Sauces and Condiments/,"Total Fat 1g 1%, Saturated Fat 0g 1%, Sodium 2...","Prep Time: 10 mins, Cook Time: 20 mins, Total ...",https://www.allrecipes.com/thmb/80wUYzFvbycfxx...
1088,1088,Moist Date Nut Bread,15 mins,50 mins,1 hrs 35 mins,12,1 9x5-inch loaf,"2 Â½ cups chopped dates, Â¼ cup butter, 1 cup bo...",Preheat the oven to 350 degrees F (175 degrees...,4.5,https://www.allrecipes.com/recipe/51446/moist-...,/Breakfast and Brunch/Breakfast Bread Recipes/,"Total Fat 10g 13%, Saturated Fat 3g 16%, Chole...","Prep Time: 15 mins, Cook Time: 50 mins, Additi...",https://www.allrecipes.com/thmb/bYsnompJZ6UAF9...
1089,1089,Chef John's Chocolate Energy Bars,15 mins,NaN,3 hrs,12,12 bars,"2 cups pitted Medjool dates, roughly chopped, ...","Place cashews, almonds, coconut, dates, cocoa,...",4.8,https://www.allrecipes.com/recipe/254452/chef-...,/Appetizers and Snacks/Snacks/Granola Bar Reci...,"Total Fat 22g 28%, Saturated Fat 7g 36%, Sodiu...","Prep Time: 15 mins, Additional Time: 2 hrs 45 ...",https://www.allrecipes.com/thmb/IOoj42MMo8YNKW...

In [49]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Load your dataset
data = pd.read_csv('data.csv')

# Data overview (assuming 'path' can be treated as categorical/text data)
print(data.head())

# Step 1: Text vectorization using TF-IDF (we treat 'path' as text data)
tfidf = TfidfVectorizer(max_features=500)
X = tfidf.fit_transform(data['path'])

# Step 2: Target variable
y = data['label']

# Step 3: Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Logistic Regression model setup
model = LogisticRegression()

# Step 5: Train the model
model.fit(X_train, y_train)

# Step 6: Make predictions on the test data
y_pred = model.predict(X_test)

# Step 7: Evaluate model performance
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:.2f}")

   Unnamed: 0                                               path     label
0           0  Surprise/1bd930d6a1c717c11be33db74823f661cb53f...  Surprise
1           1       Surprise/cropped_emotions.100096~12fffff.png  Surprise
2           2  Surprise/0df0e470e33093f5b72a8197fa209d684032c...  Surprise
3           3       Surprise/cropped_emotions.260779~12fffff.png  Surprise
4           4       Surprise/cropped_emotions.263616~12fffff.png  Surprise
Model Accuracy: 1.00

Feature extraction

In [51]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler

# Assuming the dataset is already loaded and cleaned
# data = pd.read_csv('your_dataset.csv')

# Step 1: TF-IDF Vectorization for the 'path' column (assuming it contains text-like data)
tfidf = TfidfVectorizer(max_features=500)  # Limit to top 500 features for simplicity
X_tfidf = tfidf.fit_transform(data['path'])

# Step 2: Normalize 'label' if it were numeric, but skip for this case (assuming it's categorical)
# If you had a numeric column, use MinMaxScaler here like below:
# scaler = MinMaxScaler()
# data['numeric_column'] = scaler.fit_transform(data[['numeric_column']])

# Step 3: Print the transformed features
print("TF-IDF features for 'path' column:\n", X_tfidf.toarray())

# The transformed 'X_tfidf' is now ready to be fed into a model

TF-IDF features for 'path' column:
 [[0.         0.         0.         ... 0.         0.         0.67212135]
 [0.         0.         0.         ... 0.3164617  0.         0.62303483]
 [0.         0.         0.         ... 0.         0.         0.67212135]
 ...
 [0.         0.         0.         ... 0.2411436  0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]